{{template "header"}}
    <title> 归档 | 飞鸟与鱼 </title>
    <style type="text/css">.fancybox-margin {
        margin-right: 17px;
    }</style>
</head>
<body>
<div class="container sidebar-position-left  page-archive  ">
    <div class="headband"></div>
{{template "header_navbar" .}}
    <main id="main" class="main">
        <div class="main-inner">
            <div class="content-wrap">
                <div id="content" class="content">
                    <section id="posts" class="posts-collapse">
                        <span class="archive-move-on"></span>
                        <span class="archive-page-counter">

      嗯..! 目前共计 3 篇日志。 继续努力。
    </span>
                        <div class="collection-title">
                            <h2 class="archive-year motion-element" id="archive-year-2017"
                                style="opacity: 1; display: block; transform: translateX(0px);">2017</h2>
                        </div>


                        <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article"
                                 style="opacity: 1; display: block; transform: translateY(0px);">
                            <header class="post-header">

                                <h1 class="post-title">

                                    <a class="post-title-link"
                                       href="https://guguant.github.io/2017/06/11/%E5%A4%A7%E4%B8%89%E4%B8%8B/"
                                       itemprop="url">

                                        <span itemprop="name">大三下</span>

                                    </a>

                                </h1>

                                <div class="post-meta">
                                    <time class="post-time" itemprop="dateCreated" datetime="2017-06-11T17:50:27+08:00"
                                          content="2017-06-11">
                                        06-11
                                    </time>
                                </div>

                            </header>
                        </article>


                        <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article"
                                 style="opacity: 1; display: block; transform: translateY(0px);">
                            <header class="post-header">

                                <h1 class="post-title">

                                    <a class="post-title-link" href="https://guguant.github.io/2017/03/25/sunday/"
                                       itemprop="url">

                                        <span itemprop="name">sunday</span>

                                    </a>

                                </h1>

                                <div class="post-meta">
                                    <time class="post-time" itemprop="dateCreated" datetime="2017-03-25T11:47:01+08:00"
                                          content="2017-03-25">
                                        03-25
                                    </time>
                                </div>

                            </header>
                        </article>
                        <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article"
                                 style="opacity: 1; display: block; transform: translateY(0px);">
                            <header class="post-header">

                                <h1 class="post-title">

                                    <a class="post-title-link"
                                       href="https://guguant.github.io/2017/03/24/20170324%E5%86%99%E7%82%B9%E6%96%87%E5%AD%97/"
                                       itemprop="url">

                                        <span itemprop="name">写点文字</span>

                                    </a>

                                </h1>

                                <div class="post-meta">
                                    <time class="post-time" itemprop="dateCreated" datetime="2017-03-24T23:41:07+08:00"
                                          content="2017-03-24">
                                        03-24
                                    </time>
                                </div>

                            </header>
                        </article>
                    </section>
                </div>
            </div>
            <div class="sidebar-toggle">
                <div class="sidebar-toggle-line-wrap">
                    <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
                    <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
                    <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
                </div>
            </div>
        {{template "footer_navbar" .}}
        </div>
    </main>
{{template "footer"}}