{{template "header"}}
<title>飞鸟与鱼</title>
<style type="text/css">.fancybox-margin { margin-right: 17px; }</style></head>
<body>
<div class="container sidebar-position-left page-home">
    <div class="headband"></div>
{{template "header_navbar" .}}
    <main id="main" class="main">
        <div class="main-inner">
            <div class="content-wrap">
                <div id="content" class="content">
                    <section id="posts" class="posts-expand">
                        <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
                            <link itemprop="mainEntityOfPage" href="http://yoursite.com/2017/06/11/%E5%A4%A7%E4%B8%89%E4%B8%8B/">
                            <span hidden="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                  <meta itemprop="name" content="Andy">
                  <meta itemprop="description" content="">
                  <meta itemprop="image" content="/images/id.jpeg"></span>
                            <span hidden="" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
                  <meta itemprop="name" content="飞鸟与鱼"></span>
                            <header class="post-header">
                                <h1 class="post-title" itemprop="name headline">
                                    <a class="post-title-link" href="https://guguant.github.io/2017/06/11/%E5%A4%A7%E4%B8%89%E4%B8%8B/" itemprop="url">大三下</a></h1>
                                <div class="post-meta">
                    <span class="post-time">
                      <span class="post-meta-item-icon">
                        <i class="fa fa-calendar-o"></i>
                      </span>
                      <span class="post-meta-item-text">发表于</span>
                      <time title="创建于" itemprop="dateCreated datePublished" datetime="2017-06-11T17:50:27+08:00">2017-06-11</time></span>
                                    <span class="post-comments-count">
                      <span class="post-meta-divider">|</span>
                      <span class="post-meta-item-icon">
                        <i class="fa fa-comment-o"></i>
                      </span>
                      <a href="https://guguant.github.io/2017/06/11/%E5%A4%A7%E4%B8%89%E4%B8%8B/#comments" itemprop="discussionUrl">
                        <span class="post-comments-count disqus-comment-count" data-disqus-identifier="2017/06/11/大三下/" itemprop="commentCount"></span>
                      </a>
                    </span>
                                </div>
                            </header>
                            <div class="post-body" itemprop="articleBody">奇怪的鸟2016-2017大三下学期末今天早上4点醒来，看见室友RMZ还在玩手机。RMZ持续这样的状态将近一个学期，每天吃一顿饭，省下了不少呢。我问他，你为什么这么晚还不睡觉呢，他说：“关你DIAO事”，搪塞过去。遮遮掩掩的话语，不足以使人信服。既然他不说，我来发动神经元吧。 海上快毕业了，想进入B ...
                                <!--noindex-->
                                <div class="post-button text-center">
                                    <a class="btn" href="https://guguant.github.io/2017/06/11/%E5%A4%A7%E4%B8%89%E4%B8%8B/#more" rel="contents">阅读全文 »</a></div>
                                <!--/noindex--></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <footer class="post-footer">
                                <div class="post-eof"></div>
                            </footer>
                        </article>
                        <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
                            <link itemprop="mainEntityOfPage" href="http://yoursite.com/2017/03/25/sunday/">
                            <span hidden="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                  <meta itemprop="name" content="Andy">
                  <meta itemprop="description" content="">
                  <meta itemprop="image" content="/images/id.jpeg"></span>
                            <span hidden="" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
                  <meta itemprop="name" content="飞鸟与鱼"></span>
                            <header class="post-header">
                                <h1 class="post-title" itemprop="name headline">
                                    <a class="post-title-link" href="https://guguant.github.io/2017/03/25/sunday/" itemprop="url">sunday</a></h1>
                                <div class="post-meta">
                    <span class="post-time">
                      <span class="post-meta-item-icon">
                        <i class="fa fa-calendar-o"></i>
                      </span>
                      <span class="post-meta-item-text">发表于</span>
                      <time title="创建于" itemprop="dateCreated datePublished" datetime="2017-03-25T11:47:01+08:00">2017-03-25</time></span>
                                    <span class="post-category">
                      <span class="post-meta-divider">|</span>
                      <span class="post-meta-item-icon">
                        <i class="fa fa-folder-o"></i>
                      </span>
                      <span class="post-meta-item-text">分类于</span>
                      <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                        <a href="https://guguant.github.io/categories/%E5%A4%A7%E5%AD%A6/" itemprop="url" rel="index">
                          <span itemprop="name">大学</span></a>
                      </span>
                    </span>
                                    <span class="post-comments-count">
                      <span class="post-meta-divider">|</span>
                      <span class="post-meta-item-icon">
                        <i class="fa fa-comment-o"></i>
                      </span>
                      <a href="https://guguant.github.io/2017/03/25/sunday/#comments" itemprop="discussionUrl">
                        <span class="post-comments-count disqus-comment-count" data-disqus-identifier="2017/03/25/sunday/" itemprop="commentCount"></span>
                      </a>
                    </span>
                                </div>
                            </header>
                            <div class="post-body" itemprop="articleBody">也许在山的一端 2017 春 杭州，江南的城。风是柔的，三两天下一场雨。 这几天，烦恼多了些许。 奔前程，我的未来，我喜欢的工作。 考研 我适合考研吗? 人生的目标是考研吗? 在知乎上看到陈越姥姥的回答，来到这个世界只有一次，我是独一无二的自己。 Follow you he ...
                                <!--noindex-->
                                <div class="post-button text-center">
                                    <a class="btn" href="https://guguant.github.io/2017/03/25/sunday/#more" rel="contents">阅读全文 »</a></div>
                                <!--/noindex--></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <footer class="post-footer">
                                <div class="post-eof"></div>
                            </footer>
                        </article>
                        <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
                            <link itemprop="mainEntityOfPage" href="http://yoursite.com/2017/03/24/20170324%E5%86%99%E7%82%B9%E6%96%87%E5%AD%97/">
                            <span hidden="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                  <meta itemprop="name" content="Andy">
                  <meta itemprop="description" content="">
                  <meta itemprop="image" content="/images/id.jpeg"></span>
                            <span hidden="" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
                  <meta itemprop="name" content="飞鸟与鱼"></span>
                            <header class="post-header">
                                <h1 class="post-title" itemprop="name headline">
                                    <a class="post-title-link" href="https://guguant.github.io/2017/03/24/20170324%E5%86%99%E7%82%B9%E6%96%87%E5%AD%97/" itemprop="url">写点文字</a></h1>
                                <div class="post-meta">
                    <span class="post-time">
                      <span class="post-meta-item-icon">
                        <i class="fa fa-calendar-o"></i>
                      </span>
                      <span class="post-meta-item-text">发表于</span>
                      <time title="创建于" itemprop="dateCreated datePublished" datetime="2017-03-24T23:41:07+08:00">2017-03-24</time></span>
                                    <span class="post-category">
                      <span class="post-meta-divider">|</span>
                      <span class="post-meta-item-icon">
                        <i class="fa fa-folder-o"></i>
                      </span>
                      <span class="post-meta-item-text">分类于</span>
                      <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                        <a href="https://guguant.github.io/categories/%E5%A4%A7%E5%AD%A6/" itemprop="url" rel="index">
                          <span itemprop="name">大学</span></a>
                      </span>
                    </span>
                                    <span class="post-comments-count">
                      <span class="post-meta-divider">|</span>
                      <span class="post-meta-item-icon">
                        <i class="fa fa-comment-o"></i>
                      </span>
                      <a href="https://guguant.github.io/2017/03/24/20170324%E5%86%99%E7%82%B9%E6%96%87%E5%AD%97/#comments" itemprop="discussionUrl">
                        <span class="post-comments-count disqus-comment-count" data-disqus-identifier="2017/03/24/20170324写点文字/" itemprop="commentCount"></span>
                      </a>
                    </span>
                                </div>
                            </header>
                            <div class="post-body" itemprop="articleBody">文艺青年小梦大半 你以为是你，在黑，在月，的影子里。 – 托尔斯泰 ` 子烈
                                <!--noindex-->
                                <div class="post-button text-center">
                                    <a class="btn" href="https://guguant.github.io/2017/03/24/20170324%E5%86%99%E7%82%B9%E6%96%87%E5%AD%97/#more" rel="contents">阅读全文 »</a></div>
                                <!--/noindex--></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <footer class="post-footer">
                                <div class="post-eof"></div>
                            </footer>
                        </article>
                    </section>
                    <nav class="pagination" style="opacity: 1; display: block;">
                        <span class="page-number current">1</span><a class="page-number" href="/page/2/">2</a><span class="space">…</span><a class="page-number" href="/page/4/">4</a><a class="extend next" rel="next" href="/page/2/"><i class="fa fa-angle-right"></i></a>
                    </nav>
                </div>
            </div>
            <div class="sidebar-toggle">
                <div class="sidebar-toggle-line-wrap">
                    <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
                    <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
                    <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
                </div>
            </div>
           {{template "footer_navbar" .}}
        </div>
    </main>
    {{template "footer"}}